dash==2.6.2
dash_bootstrap_components==1.1.0
dash_extensions==0.1.7
mysql_connector_repackaged==0.3.1
nltk==3.7
numpy==1.22.3
pandas==1.4.4
Pillow==9.3.0
plotly==5.7.0
pytz==2021.3
textblob==0.15.3
tweepy==4.8.0
tweetnlp==0.1.0
wordcloud==1.8.2.2
